<div class="pf-wincontent pf-tools" data-tools-window>
  <h2 class="pf-wintitle">{{ 'tools.title' | t }}</h2>
  <div class="pf-windesc">{{ 'tools.subtitle' | t }}</div>
  <div class="pf-tools__grid" style="margin-top:12px;">
    {% render 'tool-svg-optimizer' %}
    {% render 'tool-svg-color-swapper' %}
    {% render 'tool-bg-remover' %}
    {% render 'tool-image-upscaler' %}
    {% render 'tool-listing-generator' %}
    {% render 'tool-profit-calculator' %}
  </div>
</div>
